.post-rec{
    width: 100%;
    padding-top: 50px;
}

.content-post{
    .box-post{
        border-radius:20px;
        overflow:hidden;
        background-size:cover!important;
        background-position: center!important;
        border:1px solid #eee;
        @include trans;
        margin:15px 0px;
        height:200px;
    }
    .content{
        width: 90%;
        @include trans;
        @include shadow
        padding: 20px;
        margin: 0 auto;
        margin-top: -50px;
        background-color: #fff;
        border:1px solid #eee;
        border-radius: 10px;
        margin-bottom: 15px;
        h2{
            font-size: 21px;
            color:$black;
            @media #{$lg}{
                font-size: 18px;
            }
        }
        .pub-tim{
            font-size: 12px;
            margin: 5px 0;

        }
        .zaj{
            p{
                font-size: 14px;
            }
        }
    }
}

.content-post a:hover > .box-post {
    @include shadow;
}
.content-post a:hover .content {
    @include shadowHover;
}