.wp-block { 
    max-width: 100%; 
    #bg-pakiety{
        transform: translate(0,0);
    }
    .pakiety .pakiet header h4{
        padding: 0px;
        margin:0px;
    }
}
body{
    padding:0;
    margin: 0;
    font-family: 'Asap', sans-serif;
    font-weight: 400 ;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 700;
    padding: 0;
    margin: 0;
}
p{
    color:$p;
}
a{
    color:$main;
    &:hover{
        color:darken($main, 10);
        text-decoration: none;
    }
}


.section-title{
    span{
        font-size: 21px;
        color:#5d5d5d;
    }
    h2{
        font-size: 41px;
    }
}

.sline{
    width: 98px;
    height: 3px;
    display: block;
    position: relative;
    overflow: hidden;
    opacity: 1;
    &:before{
        content:"";
        width: 24px;
        height: 3px;
        background-color: #fff;
        border-radius: 30px;
        position: absolute;
        left: -13px;
        box-shadow: 32px 0px 0px 0px #fff;
    }
    &:after{
        content:"";
        width: 44px;
        height: 3px;
        background-color: #fff;
        border-radius: 30px;
        position: absolute;
        left: 51px;
    }

}



.center-sline{
    margin: 20px auto;
}
.margin-sline-20{
    margin-top:20px;
    margin-bottom: 20px;
}
.margin-sline-10{
    margin-top:10px;
    margin-bottom: 10px;
}
.maincolor-sline{
    &:before{
        background-color: $main;
        box-shadow: 32px 0px 0px 0px $main;
    }
    &:after{
        background-color: $main;
    }
}

::-moz-selection { background:$main; }
::selection { background:$main; }
.container{
    max-width: 1400px;
    @media #{$lg}{
        max-width: 1140px;

    }
}
#breadcrumbs{
    margin-bottom: 15px;
    @media #{$sm}{
        margin-top: 15px;
    }
    font-size: 12px;
    color:$p;
    font-weight: 300;
    a{
        color:$p;
    }
}

.btn-main{
    border: 1px;
    border-radius:100px;
    color:#fff!important;
    padding-left:30px;
    padding-right: 30px;
    background: rgb(0,115,212);
    background: linear-gradient(38deg, rgba(0,115,212,1) 0%, rgba(0,168,255,1) 100%);
    @include shadow;
    &:hover{
        @include shadowHover;
    }
    &:focus{
        @include shadowFocus;
    }
}

.btn-big{
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 700;
}
.btn-revers{
    color: rgb(0,115,212)!important;
    background:none!important;
    border:1px solid  rgb(0,115,212);
    box-shadow: none;
}

.scrollToTop{
    position: fixed;
    z-index: 999999999999;
    bottom: -50px;
    right: 17px;
    @include trans;
}

#preloader{
    position: fixed;
    z-index: 1000000000000000000000;
    background: #fff;
    width: 100%;
    height: 100vh;
    img{
        position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
}
.progressCounter{
    @include trans;
    position: fixed;
    z-index: 9999999999999999;
    bottom: 10px;
    right: 10px;
}



.fade-up-it{
    -webkit-transition: all 0.7s 0s ease;
    -moz-transition: all 0.7s 0s ease;
    -o-transition: all 0.7s 0s ease;
    transition: all 0.7s 0s ease;
    opacity: 1;
    
}

#cookie-notice{
    background-color: $main2;
    width: 300px;
    min-width: 400px;
    right: 60px;
    left: inherit;
    bottom: 10px;
    @include shadow;
    @media #{$sm}{
        width: 100%;
        right: 0;
        bottom: 0;
    }
    img{
        margin-right: 10px;
        width: 20px;
        
    }
}
#cn-notice-buttons{
    display: block;
}
.kk-star-ratings.kksr-valign-bottom{
    margin-bottom: 50px;
    display: block!important;
    text-align: center;
    // kksr-icon
    .kksr-stars{
        display: inline-block;
        margin: 30px 0px;
    }
}
.kksr-stars-inactive{}
.kksr-stars-active{}