$xxxs: "only screen and (max-width: 320px)";

$xxs: "only screen and (max-width: 568px)";
$xs: "only screen and (max-width: 768px)";
$sm: "only screen and (max-width: 992px)";
$md: "only screen and (max-width: 1200px)";
$lg2: "only screen and (max-width: 1300px)";
$lg: "only screen and (max-width: 1400px)";


$main: #8cc02a;
$main2: #0076d7;
$black: #231f20;
$gray: #b5b5b5;
$p: #525252;