.klienci{
    padding:30px 0px;
    background-color: #efefef;
    h1, h2, h3, h4, h5, h6 {
        &:before{
            display:none!important;
        }
        &:after{
            display:none!important;
        }
    }
    .logotypy{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        a{
           
            @include trans;
        }
        img{
            @include trans;
            padding: 10px;
            // filter: brightness(0) invert(.5);
            max-width: 200px;
            @media #{$xs}{
                max-width: 80px;
            }
        }
    }
}